.hamburger {
	height: 2rem;
	width: 2rem;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	z-index: 10;
	
}

.burger {
	width: 2rem;
	height: 0.25rem;
	border-radius: 10px;
	background-color: black;
	transform-origin: 1px;
	transition: all 0.3s linear;
}

.burger1open {
	transform: rotate(45deg);
}
.burger1closed {
	transform: rotate(0);
}

.burger2open {
	transform: translateX(100%);
	opacity: 0;
}
.burger2closed {
	transform: translateX(0);
	opacity: 1;
}

.burger3open {
	transform: rotate(-45deg);
}
.burger3closed {
	transform: rotate(0);
}

